# Rails backend
/apps/backend/log/*
/apps/backend/tmp/*
/apps/backend/storage/*
!/apps/backend/log/.keep
!/apps/backend/tmp/.keep
!/apps/backend/storage/.keep
/apps/backend/vendor/bundle
/apps/backend/.bundle
/apps/backend/db/*.sqlite3
/apps/backend/db/*.sqlite3-*
/apps/backend/public/assets
/apps/backend/.byebug_history
/apps/backend/config/master.key
/apps/backend/.env
/apps/backend/.env.*

# Frontend
/apps/frontend/node_modules
/apps/frontend/.env
/apps/frontend/.env.*
/apps/frontend/dist
/apps/frontend/.vite

# Docker
*.log

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# dev
.yarn/
!.yarn/releases
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# deps
node_modules/

# env
.env
.env.production

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# misc
.DS_Store
local-data/
coverage/